<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucesso</title>
    <link rel="stylesheet" href="/styles/globals.css">
</head>
<body>
    <div class="container">
    <h1 class="title">EMAIL CADASTRADO COM SUCESSO!</h1>
    <button class="btn" onclick="voltarParaPaginaCadastro()">Voltar para cadastro de email</button>
    <div class="btn-container">
    <button class="btn" onclick="irParaEmailsCadastrados()">Ir para emails cadastrados</button>
    </div>
    </div>
    <script src="/pages.js"></script>
</body>
</html>