<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título</title>
</head>
<body>
    <h1>Renderizando HTML dinâmico com o EJS</h1>
    <p id="<%=  'teste' + '_' + (3 * 4) %>">Texto qualquer <% 'teste' + '_' + (3 * 4) %></p>
</body>
</html>